* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    padding: 3rem;
    border: 1px solid black;
    border-radius: 12px;
    width: 40vw;
    margin: auto;
    margin-top: 4rem;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 1.55rem;
}

h1 {
    margin-bottom: -5px;
}

h2 {
    margin-bottom: 0.2rem;
}

br {
    display: block;
    height: 10px;
    width: 100%;
}

.field-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

button {
    cursor: pointer;
}

.submit-btn {
    align-self: start;
    background-color: black;
    color: white;
    padding: 0.4rem 0.8rem;
    border:none;
}

input,
select
{
    padding: 0.4rem;
}

.date-selectors {
    display: flex;
    gap: 2rem;
}

.edit-btn {
    color: white;
    background-color: rgb(12, 12, 150);
    border: none;
    padding: 0.3rem 0.8rem
}